<div class="container">
  <h1>YouTube Downloader</h1>

  <div class="form-group">
    <label for="url">Video URL:</label>
    <input type="text"
           id="url"
           class="form-control"
           [(ngModel)]="url"
           placeholder="Enter YouTube URL"
           [disabled]="isDownloading">
  </div>
  <div class="form-group">
    <label for="options">Custom Options (one per line):</label>
    <textarea id="options"
              class="form-control"
              [(ngModel)]="options"
              rows="3"
              placeholder="Enter custom options"
              [disabled]="isDownloading"></textarea>
  </div>
  <div class="form-group">
    <label class="checkbox-container">
      <input type="checkbox"
             [(ngModel)]="audioOnly"
             [disabled]="isDownloading">
      <span class="checkbox-label">Audio Only (MP3)</span>
    </label>
  </div>
  <div class="row">
    <!-- New: Input for output folder -->
    <input type="text" [(ngModel)]="outputFolder" placeholder="Output folder (e.g., C:\medias\poster)" />
  </div>
  <div class="button-group">
    <button class="btn primary"
            (click)="startDownload()"
            [disabled]="!url || isDownloading">
      Download
    </button>
  </div>
  <div class="output-container">
    <div *ngIf="progress" class="progress">
      <div class="progress-bar bg-danger" role="progressbar" [style.width]="progress + '%'" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <table class="table" width="80%" *ngIf="isDownloading">
      <thead>
        <tr>
          <th width="20%">Index</th>
          <th width="20%">Size</th>
          <th width="20%">Speed</th>
          <th width="20%">ETA</th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <td>{{ ReceiveVideoIndex }}</td>
          <td>{{ ReceiveTotalSize }}</td>
          <td>{{ ReceiveSpeed }}</td>
          <td>{{ ReceiveETA }}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="error" class="progress">
      Error: {{ error }}
    </div>
    <div *ngIf="finish" class="progress">
      Finish: {{ finish }}
    </div>
    <div *ngIf="ReceiveData" class="progress">
      Data: {{ ReceiveData }}
    </div>
    <div *ngIf="ReceiveData" class="progress">
      Status: {{ ReceiveState }}
    </div>
  </div>
